$primaryColor: #b3d13a;
$secondaryColor: #BAE900;
$primaryColorLight: #63c6ae;
$whiteColor: #fff;
$blackColor: #333;
$light-black-color: #6D6D6D;
$offsetCanvasBoxColor: #444;
$gray100: #333;
$gray200: #555;
$gray300: #444;
$gray400: #666;
$gradientOverlay: rgba(186, 233, 0, 0.9);
$gradientColor: linear-gradient(to right, #b3d13a 0%, #BAE900 50%, #ddfb64 100%)