$primaryColor: #0bbc7b;
$secondaryColor: #21D37E;
$primaryColorLight: #63c6ae;
$whiteColor: #fff;
$blackColor: #333;
$light-black-color: #6D6D6D;
$offsetCanvasBoxColor: #444;
$gray100: #333;
$gray200: #555;
$gray300: #444;
$gray400: #666;
$gradientOverlay: rgba(33, 211, 126, 0.8);
$gradientColor: linear-gradient(to right, #7bdcb5 0%, #21D37E 50%, #0bbc7b 100%)