// $primaryColor: #1369ab;
// $secondaryColor: #29a4ea;
// $primaryColorLight: #63c6ae;
// $whiteColor: #fff;
// $blackColor: #333;
// $light-black-color: #6D6D6D;
// $offsetCanvasBoxColor: #444;
// $gray100: #333;
// $gray200: #555;
// $gray300: #444;
// $gray400: #666;
// $gradientOverlay: rgba(41, 137, 216, 0.9);
// $gradientColor: linear-gradient(to right, #1c98e2 0%, #2989d8 50%, #1369ab 100%)

$primaryColor: #654ef9;
$secondaryColor: #7963FF;
$primaryColorLight: #63c6ae;
$whiteColor: #fff;
$blackColor: #333;
$light-black-color: #6D6D6D;
$offsetCanvasBoxColor: #444;
$gray100: #333;
$gray200: #555;
$gray300: #444;
$gray400: #666;
$gradientOverlay: rgba(121, 99, 255, 0.9);
$gradientColor: linear-gradient(to right, #8b7afa 0%, #7963FF 50%, #654ef9 100%);